<!doctype html>
<html>
	<head>
			<link rel="stylesheet" type="text/css" href="/static/Receive.css">
	</head>
<div1 id="wrapper">
<form  method='POST' action='/imenaproekt/index/submit/'>
	 {% csrf_token %}
<div id="Keyword">
	<p><input type="password" name="Keyword" placeholder="Enter keyword..." ></p>
</div>
	<div id="Message" class="message">
		<p><input type="text" name="Message" placeholder="Enter message..."></p>
	</div>
	<div id="Answer">
		<p><input type="text" name="Answer" readonly></p>
	</div>
	<div>	
		<input id="submit" type="submit" value="Encrypt">
	</div>
	<div>
		<input id="recieve" type="submit" value="Decrypt">
	</div>
	</div1>
</form>
</html>