<!doctype html>
{% load static %}
<html>
	<head>
		<title>Hawks'Cipher</title>
		<link rel="stylesheet" type="text/css" href="{% static "Receive.css" %}">
	</head>
    <body>
		<div id = "First">
			<div id="wrapper">
				{% block form_type %}
				<form  method='POST' action='/NeverFollowed/index/receive/'>
					{% endblock%}
					{% csrf_token %}

					<div id="Keyword">
						<p><input type="password" name="Keyword" placeholder="Enter keyword..." ></p>
					</div>

					<div id="Message" class="message">
						<p><input type="text" name="Message" placeholder="Enter message..."></p>
					</div>

					<div id="Answer">
						<p><input type="text" name="Answer" readonly value="{{result}}"></p>
					</div>

					{% block form_button %}

					<input id="recieve" type="submit" value="Decrypt">


					{% endblock%}
                    <a href="http://192.168.34.163:3000/NeverFollowed/index/submit/"><input type="button" value="Go To Encrypt"></a>
                    <a href="http://192.168.34.163:3000/NeverFollowed/index/receive/"><input type="button" value="Go To Decrypt"></a>
				</form>
			</div>
		</div>
	</body>
</html>